<app-container>
  <div>
    <h1 class="text-7xl font-semibold text-bluegray-100 text-right text-overflow-ellipsis uppercase">Victor Bejarano</h1>
    <h3 class="text-4xl font-normal text-bluegray-300 text-right text-overflow-ellipsis uppercase">Desarrollador Software</h3>
  </div>
  <img
    class="w-20rem h-20rem shadow-5"
    src="https://media.licdn.com/dms/image/C4E03AQGLvaXqVt02_Q/profile-displayphoto-shrink_800_800/0/1609718479335?e=1695254400&v=beta&t=RpxBTMRtbq_EQz75ynUDyNFCl88YyUYPQsTYB3LXV7Y"
    alt="profile"
  />
</app-container>
