<app-container>
  <div>
    <img
      class="w-20rem h-20rem shadow-5"
      src="https://media.licdn.com/dms/image/C4E03AQGLvaXqVt02_Q/profile-displayphoto-shrink_800_800/0/1609718479335?e=1695254400&v=beta&t=RpxBTMRtbq_EQz75ynUDyNFCl88YyUYPQsTYB3LXV7Y"
      alt="profile"
    />
  </div>
  <div
    class="bg-bluegray-100 text-bluegray-900 p-6 border-round-md opacity-80 text-2xl line-height-2 shadow-5 w-30rem"
  >
    Soy programador con 5 años de experiencia y especializado en tecnologías
    como Angular, Flutter y Firebase. Me considero un experto en Angular, en el
    que he trabajado durante 3 años en proyectos de diversos tamaños y
    complejidades. También cuento con 2 años de experiencia en el desarrollo de
    aplicaciones móviles con Flutter para plataformas Android e iOS.
  </div>
</app-container>
