.main {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 80rem;
  row-gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}
.about-text {
  box-sizing: border-box;
}
