<app-container>
  <div class="main">
    <div class="container">
      <div
        class="bg-bluegray-100 about-text text-bluegray-900 p-6 border-round-left-md opacity-80 text-2xl line-height-2 shadow-5 h-30rem"
      >
        <h3
          class="text-4xl font-normal text-left text-overflow-ellipsis uppercase w-auto"
        >
          SOBRE MI
        </h3>
        <p>
          Soy programador con 5 años de experiencia y especializado en
          tecnologías como Angular, Flutter y Firebase. Me considero un experto
          en Angular, en el que he trabajado durante 3 años en proyectos de
          diversos tamaños y complejidades. También cuento con 2 años de
          experiencia en el desarrollo de aplicaciones móviles con Flutter para
          plataformas Android e iOS.
        </p>
      </div>
      <img
        class="h-30rem shadow-5 border-round-right-md"
        src="assets/about-image.jpg"
        alt="profile"
      />
    </div>

    <div
      class="bg-bluegray-100 about-text text-bluegray-900 p-6 border-round-md opacity-80 text-2xl line-height-2 shadow-5 w-full"
    >
      <img
        *ngFor="let logo of logos"
        class="h-6rem"
        [src]="'assets/logos/' + logo + '.svg'"
        alt="profile"
      />
    </div>
  </div>
</app-container>
